.wrapper{
  width: 80%;
  margin: auto ;
  margin-top: 4rem;
}

h1{
  font-weight: 600;
  margin-bottom: 2rem;
}
#Odgovor{
  margin-top: 3vh;
  width: 100%;
}
#forma{
  width:100%;
}
textarea{
  width: 100%;
}

.tableDiv{
  padding: 1rem;
  max-height: 30rem;
  overflow-y: scroll;
}