<mat-toolbar color="primary" id="wrapper">
  <mat-toolbar-row class="navbarContent">
    <a href="{{putanja}}" id="bookspan">eRezervacija</a>
    <div class="accountNavBar" >
      <app-select-language id="select" [side]="false"></app-select-language>
      <span id="imeprez">{{workingUser.korisnik.ime}} {{workingUser.korisnik.prezime}}</span>
      <span *ngIf="prikazi==true" [matMenuTriggerFor]="menu" class="material-symbols-outlined" id="accountBtn">account_circle</span>
    </div>
    <mat-menu #menu yPosition="above" xPosition="before" class="navbar-menu">
      <button class="menu-item" mat-menu-item (click)="NaProfil()">{{'Profil'|transloco}}</button>
      <button class="menu-item" mat-menu-item (click)="Logout()">{{'OdjaviSe'|transloco}}</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
  
  