.wrapper{
    width: 80%;
    margin: auto ;
    padding-top: 4rem;
}

h1{
    font-weight: 600;
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.content{
    margin: auto;
}