<mat-card class="card">
    <mat-card-header class="card-header">
      <button mat-icon-button class="close" routerLink="/pocetna">
        <mat-icon>close</mat-icon>
      </button>
      <mat-card-title class="card-title">{{'signup'|transloco}}</mat-card-title>
      <mat-card-subtitle class="card-subtitle" *ngIf="OwnerGuest=='Guest'">{{'asHotelGuest'|transloco}}</mat-card-subtitle>
      <mat-card-subtitle class="card-subtitle" *ngIf="OwnerGuest=='Admin'">{{'asHotelAdmin'|transloco}}</mat-card-subtitle>
      <mat-card-subtitle class="card-subtitle" *ngIf="OwnerGuest=='Owner'">{{'asHotelOwner'|transloco}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="main-card-content">
      <mat-card-content class="card-content" id="personal-informations" [style.width]="OwnerGuest=='Owner'?'30%':'45%'">
          <app-input-field id="ime" label="{{'Ime'|transloco}}" [input]="ime"></app-input-field>
          <app-input-field id="prezime" label="{{'Prezime'|transloco}}" [input]="prezime"></app-input-field>
          <app-input-field id="email" label="{{'Email'|transloco}}" [input]="email"></app-input-field>
          <app-choose-date id="datumRodjenja" label="{{'DatumRodjenja'|transloco}}" [input]="datumRodjenja"></app-choose-date>
          <mat-radio-group aria-label="Spol:" class="radioForm" [(ngModel)]="odabraniSpol">
            <label style="margin-right: 16px;">{{'Spol'|transloco}}</label>
            <mat-radio-button value="Muski">{{'Musko'|transloco}}</mat-radio-button>
            <mat-radio-button value="Zenski">{{'Zensko'|transloco}}</mat-radio-button>
          </mat-radio-group>
          <app-input-field id="brojTelefona" label="{{'BrojTelefona'|transloco}}" [type]="'number'" [input]="brojTelefona"></app-input-field>
      </mat-card-content>
      <mat-card-content class="card-content" id="login-informations" [style.width]="OwnerGuest=='Owner'?'30%':'45%'" [style.border-right]="OwnerGuest=='Guest'?'none':'1px solid var(--silver)'">
          <app-input-field id="username" label="{{'Username'|transloco}}" [input]=username></app-input-field>
          <app-password-field  id="password1" label="{{'Password'|transloco}}" [password]=password></app-password-field>
          <app-password-field id="password2" label="{{'PasswordConfirmation'|transloco}}" [password]=confirmedPassword></app-password-field>
      </mat-card-content>
      <mat-card-content class="card-content" id="hotel-owner-informations" *ngIf="'showHotelOwnerInfo'" [style.display]="OwnerGuest=='Guest'|| OwnerGuest=='Admin'? 'none':'block'" [style.width]="OwnerGuest == 'Guest' ? '0' : '30%'">
          <app-input-field class="card-content-items username" [type]="'number'" id="brojRacuna" [hint]="'Unesite 16 cifara'" [number]="16" label="{{'BrojRacuna'|transloco}}" [input]=brojRacuna></app-input-field>
          <app-input-field class="card-content-items username" id="brojLicneKarte" [number]="9" label="{{'BrojLicneKarte'|transloco}}" [input]=brojLicneKarte></app-input-field>
      </mat-card-content>
    </mat-card-content>
    <mat-card-actions class="card-footer">
      <button class="register-button card-content-items" mat-raised-button color="primary" (click)="Registracija()">{{'signup'|transloco}}</button>
      <a class="login-link" *ngIf="OwnerGuest=='Owner'" [routerLink]="['/loginVlasnik']">{{'haveAccount'|transloco}}</a>
      <a class="login-link" *ngIf="OwnerGuest=='Guest'" [routerLink]="['/loginGost']">{{'haveAccount'|transloco}}</a>
      <a class="login-link" *ngIf="OwnerGuest=='Admin'" [routerLink]="['/loginAdmin']">{{'haveAccount'|transloco}}</a>
    </mat-card-actions>
</mat-card>
