.jedanGrad{
    width:24%;
}
  
.wrapper img{
    height:10rem;
    border-radius: 4px 4px 0 0 ;
}
  
mat-card{
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
  
.wrapper{
  display: flex;
  justify-content: space-between;
}

mat-card-content{
  padding:8px;
}

mat-card:hover {
  color:#FFFFFF;
  background-color: var(--material-ui-primary);
}

@media screen and (min-width: 1000px) and (max-width: 1300px){
    .wrapper img{
        height:8rem;
    }
}

.spinner{
  margin: 1rem auto;
}