<div class="wrapper">
  <app-navbar [putanja]="'landingPage'"></app-navbar>
  <img id="landingPageImg" src="assets/img/bookingImg.jpeg">
  <div class="wrapper-form">

    <app-pretraga-forma id="pretraga-form"></app-pretraga-forma>

    <div class="destinacije">
      <h1>{{'PopularneDestinacije'|transloco}}</h1>
      <app-popularni-gradovi class="popularni-gradovi"></app-popularni-gradovi>
    </div>

    <div class="hoteli">
      <h1>{{'HoteliKojiSeSvidjajuGostima'|transloco}}</h1>
      <app-visokoocjenjeni-hoteli></app-visokoocjenjeni-hoteli>
    </div>

    <div class="postaviPitanje">
      <h1>{{'PostaviteNamPitanje'|transloco}}</h1>
      <mat-form-field [style.fontSize]="16" appearance="fill" id="forma">
        <mat-label>{{'MojePitanjeJe'|transloco}}</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="15" [(ngModel)]="tekstPitanja"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="PostaviPitanje()">{{'PosaljitePitanje'|transloco}}</button>
    </div>
  </div>
  <app-footer></app-footer>
</div>
