.wrapper{
  width: 100%;
}

.input{
  width: 100%;
}

#selectors,#selectors2{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media screen and (min-width: 1000px) and (max-width: 1300px){
  #selectors,#selectors2{
    flex-direction: column;
    gap: 0rem;
  }

}
