<div class="wrapper">
  <div id="poveziKarticu">
    <app-password-field class="input" [password]="brojKartice" label="{{'BrojKartice'|transloco}}"></app-password-field>
    <div id="selectors">
      <app-input-field class="input" [input]="datumIsteka" label="{{'DatumIsteka'|transloco}}"></app-input-field>
      <app-password-field class="input" [password]="CVV" label="CVV"></app-password-field>
    </div>
    <button *ngIf="this.kartica==null && Nova==false" mat-raised-button color="primary" (click)="DodajKarticu()">{{'DodajKarticu'|transloco}}</button>
    <button *ngIf="this.kartica!=null && Nova==false" mat-raised-button color="primary" (click)="ObrisiKarticu()">{{'IzbrisiKarticu'|transloco}}</button>
    <button *ngIf="this.Nova==true" mat-raised-button color="primary" (click)="DodajKarticu()">{{'DodajKarticu'|transloco}}</button>
  </div>
</div>