.wrapper{
    width: 80%;
    margin: auto ;
    margin-top: 4rem;
}

h1{
    font-weight: 600;
    margin-bottom: 2rem;
}
#poveziKarticu,#prikaziKarticu{
  width: 50%;
}
#selectors,#selectors2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
