<div class="wrapper spinnerWrapper" *ngIf="!dataLoaded">
  <h4>{{'SobeSeUcitavaju'|transloco}}</h4>
  <mat-spinner class="spinner" diameter="60"></mat-spinner>
</div>

<div class="wrapper" *ngIf="dataLoaded">
  <ng-container *ngFor="let room of rooms">
  <mat-card class="card">
      <mat-card-title>{{ room.naziv }}</mat-card-title>
      <mat-card-content id="cardContent">
        <p>{{'kapacitet'|transloco}} <label id="numberOfRooms">{{ room.kapacitet }}</label></p>
        <p>{{'cijena'|transloco}} <label id="price">{{ room.ukupnaCijena }}</label></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="warn" (click)="Obrisi(room.id)">{{'Obrisi'|transloco}}</button>
      </mat-card-actions>
  </mat-card>
  </ng-container>
</div>

<div class="spinner-wrapper" *ngIf="brisanjeUToku">
  <div class="spinner-container">
    <mat-spinner diameter="80"></mat-spinner>
    <h4>{{'BrisanjeUToku'|transloco}}</h4>
  </div>
</div>