<div class="wrapper">
  <div class="column1">
    <img src="{{getSlika(image)}}" alt="Hotel Image">
  </div>
  <div class="column2">
    <div class="nameAndStars">
      <h1 id="hotelName">{{hotelName}}</h1>
      <div id="star">
        <div id="stars" *ngFor="let i of [].constructor(starRating); let index=index">⭐</div>
      </div>
    </div>
    <div class="gradUdaljenost">
      <p>Udaljenost od centra grada {{udaljenost}}km</p>
    </div>
    <div class="opis">
      <p id="opis">{{description.split(' ').splice(0,42).join(' ') + '...'}}</p>
    </div>
  </div>
  <div class="column3">
    <div class="rating">
      <p id="rating">{{rating}}</p>
    </div>
    <button mat-raised-button color="primary" (click)="openHotelDetails(hotelId)">Check availability</button>
  </div>
</div>