<div class="content">
    <div class="left">
        <app-input-field class="inputField" id="brojSpratiov" label="{{'BrojSpratova'|transloco}}" [input]="detaljiInfoForm.get('brojSpratova')" [type]="'number'"></app-input-field>
        <app-input-field class="inputField" id="brojJednoKr" label="{{'BrJednokr'|transloco}}" [input]="detaljiInfoForm.get('brojJednokrevetnihSoba')" [type]="'number'"></app-input-field>
        <app-input-field class="inputField" id="brojDvokr" label="{{'BrDvokr'|transloco}}" [input]="detaljiInfoForm.get('brojDvokrevetnihSoba')"[type]="'number'"></app-input-field>
        <app-input-field class="inputField" id="brojTorkr" label="{{'BrTrokr'|transloco}}" [input]="detaljiInfoForm.get('brojTrokrevetnihSoba')" [type]="'number'"></app-input-field>
        <div class="zvjezdiceUdaljenost">
            <app-input-field class="inputField" id="brojZvjezdica" [hint]="'1-5'" label="{{'BrojZvjezdica'|transloco}}" [input]="detaljiInfoForm.get('brojZvjezdica')" [type]="'number'"></app-input-field>
            <app-input-field class="inputField" id="udaljenost"  label="{{'UdaljenostUKm'|transloco}}" [input]="detaljiInfoForm.get('udaljenost')" [type]="'number'"></app-input-field>
        </div>
        <div class="vrijeme">
            <app-input-field class="inputField" id="vrijemeCheckIn" label="{{'VrijemeCheckIna'|transloco}}" [input]="detaljiInfoForm.get('vrijemeCheckIna')" [type]="'time'"></app-input-field>
            <app-input-field class="inputField" id="vrijemeCheckOut" label="{{'VrijemeCheckOuta'|transloco}}" [input]="detaljiInfoForm.get('vrijemeCheckOuta')" [type]="'time'"></app-input-field>
        </div>
    </div>
    <div class="right">
        <app-hotel-amenities></app-hotel-amenities>
    </div>
</div>
