<div class="wrapper">
    <div class="step">
        <div class="number" id="prvi">1</div>
        <h4>{{'VasOdabir'|transloco}}</h4>
    </div>
    <div class="line"></div>
    <div class="step">
        <div class="number" id="drugi">2</div>
        <h4>{{'VasiPodaci'|transloco}}</h4>
    </div>
    <div class="line"></div>
    <div class="step treciStep" *ngIf="treci==false">
        <div class="number" id="treci">3</div>
        <h4>{{'Placanje'|transloco}}</h4>
    </div>
    <div class="step treciTrueStep" *ngIf="treci">
        <div class="number" id="treciTrue">3</div>
        <h4>{{'Placanje'|transloco}}</h4>
    </div>
</div>