<div class="content">
    <div class="left">
        <app-input-field id="naziv" label="{{'NazivSobe'|transloco}}" [input]="opsteInfoSoba.get('nazivSobe')" ></app-input-field>
        <app-textarea label="{{'Opis'|transloco}}" placeholder="{{'OpisSobe'|transloco}}" [input]="opsteInfoSoba.get('opisSobe')"></app-textarea>
        <app-input-field id="brojIstih" label="{{'BrSobaTipa'|transloco}}" [input]="opsteInfoSoba.get('brojIstihSoba')" [type]="'number'"></app-input-field>
    </div>
    <div class="right">
        <app-input-field id="kapacitet" label="{{'KapacitetOsoba'|transloco}}" [type]="'number'" [input]="opsteInfoSoba.get('kapacitet')" ></app-input-field>
        <app-input-field id="brojKrevetaZaJednuOsobu" label="{{'BrKrZaJednu'|transloco}}" [type]="'number'" [input]="opsteInfoSoba.get('brojKrevetaZaJednuOsobu')" ></app-input-field>
        <app-input-field id="brojKrevetaNaSprat" label="{{'BrKrNaSprat'|transloco}}" [type]="'number'" [input]="opsteInfoSoba.get('brojKrevetaNaSprat')" ></app-input-field>
        <app-input-field id="brojBracnihKreveta" label="{{'BrBracnihKr'|transloco}}" [type]="'number'" [input]="opsteInfoSoba.get('brojBracnihKreveta')" ></app-input-field>
        <mat-checkbox id="dodavanjeKreveta" [formControl]="opsteInfoSoba.get('mogucnostDodavanjaDjecijegKreveta')">{{'DodavanjeDjKr'|transloco}}</mat-checkbox>
        <div class="ukupnaCijena">
            <app-input-field id="ukupnaCijena" label="{{'UkupnaCijenaZaNoc'|transloco}}" [type]="'number'" [input]="opsteInfoSoba.get('ukupnaCijena')" ></app-input-field>
        </div>  
    </div>
</div>

  