<div class="wrapper">
    <h1>{{'PitanjaGostiju'|transloco}}</h1>
    <div class="tableDiv">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
        <ng-container class="ngContainer" matColumnDef="tekstPitanja">
          <th mat-header-cell *matHeaderCellDef class="mat-header-cel">{{'Pitanje'|transloco}}</th>
          <td mat-cell *matCellDef="let element" class="mat-cell"> {{element.tekstPitanja}} </td>
        </ng-container>
        <ng-container class="ngContainer" matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="mat-header-cel">{{'Akcija'|transloco}}</th>
          <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="Odgovori(element.id)">{{'Odgovori'|transloco}}</button> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
    <div id="Odgovor">
      <h1>{{'Odgovor'|transloco}}</h1>
      <mat-form-field [style.fontSize]="14" appearance="fill" id="forma">
        <mat-label>{{'Odgovor'|transloco}}</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5" maxlength="300" [(ngModel)]="tekstOdgovora"></textarea>
      </mat-form-field>
    </div>
  </div>
  