<div class="wrapper">
  <mat-card class="card">
      <mat-card-header class="card-header">
        <mat-card-title class="card-title">Reset Password</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <div class="inputDiv">
          <app-password-field class="input" label="New password" [password]="passwordi.get('newPassword')"></app-password-field>
          <app-password-field class="input" label="Confirm new password" [password]="passwordi.get('confirmedPassword')"></app-password-field>
        </div>
        <div class="buttons">
          <button mat-raised-button color="primary" (click)="UpdatePassword()">Update</button>
        </div>
      </mat-card-content>
    </mat-card> 
</div>