<div class="wrapper">
    <h1>{{'PromijeniLozinku'|transloco}}</h1>
    <div class="content">
        <app-password-field label="{{'TrenutniPassword'|transloco}}" [password]="passwordi.get('trenutniPassword')"></app-password-field>
        <app-password-field label="{{'NoviPassword'|transloco}}" [password]="passwordi.get('noviPassword')"></app-password-field>
        <app-password-field label="{{'PasswordConfirmation'|transloco}}" [password]="passwordi.get('potvrdaPassword')"></app-password-field>
        <button mat-raised-button color="primary" (click)="ChangePassword()">{{'Potvrdi'|transloco}}</button>
    </div>
</div>