.wrapper{
    width: 80%;
    margin: auto ;
    margin-top: 4rem;
}

h1{
    font-weight: 600;
    margin-bottom: 2rem;
}

.content{
    width: 50%;
}

button{
    margin-top: 1rem;
    width: 40%;
}